<script type="module" src="src/e-contact.js"></script>

<ul>
  <li>
    <e-contact name="Abiel" email="abiel.contact@gmail.com"></e-contact>
  </li>
  <br>
  <li>
    <e-contact name="Pedro" email="pedro.contact@gmail.com" seeMore></e-contact>
  </li>
</ul>


